{% extends 'base.html' %}
{% block title %}
    Task: {{ task.text }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="box">

            <div class="head_text heading text-center">
                <p class="main-title-home">PROJECT</p>
                <p class="about-game">информация о проекте</p>
            </div>

            <div class="row justify-content-center text-center">
                <div class="col-3 info-block text-center">
                    <span class="descript">Проект:</span>
                </div>
                <div class="col-7 info-block text-center">
                    <span class="info-head">{{ project.project_name }}</span>
                </div>
            </div>

            <div class="row justify-content-center text-center">
                <div class="col-3 info-block text-center">
                    <span class="descript">Дата начала: </span>
                </div>
                <div class="col-7 info-block text-center">
                    <div>
                        <span class="info-head">{{ project.start_date |date:'Y-m-d' }}</span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-center">
                <div class="col-3 info-block text-center">
                    <span class="descript">Дата окончания: </span>
                </div>
                <div class="col-7 info-block text-center">
                    <div>
                        <span class="info-head">{{ project.end_date |date:'Y-m-d' }}</span>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center text-center">
                <div class="col-3 info-block text-center">
                    <span class="descript">Описание: </span>
                </div>
                <div class="col-7 info-block text-center">

                    <span class="text-break">{{ project.project_description | linebreaks }}</span>
                </div>
            </div>


            <div class="row justify-content-center text-center">
                <div class="col-3 info-block text-center">
                    <span class="descript">Пользователи:</span>
                </div>
                <div class="col-7 info-block text-center">
                    {% for user in project.users.all %}
                        <span class="info-item">{{ user.username }}{% if not forloop.last %}, {% endif %}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="row justify-content-center text-center">

                <div class="col-10 info-block">
                <div class="row justify-content-center text-center">
                <div class="col-1 text-center">
                    <a href="{% url 'index' %}"><button type="submit" class="btn btn-outline-secondary"><i class="fa fa-home"></i></button></a>
                </div>

                {% if user.is_authenticated %}
                    {% if perms.tracker.change_project %}
                        {% if request.user.username == 'root' %}
                            <div class="col-2 text-center">
                                <a href="{% url 'project_update' project.pk %}"><button type="submit" class="btn btn-secondary btn-block">Изменить</button></a>
                            </div>
                        {% else %}
                            {% for user in project.users.all  %}
                                {% if user.username == request.user.username %}
                                    <div class="col-2 text-center">
                                        <a href="{% url 'project_update' project.pk %}"><button type="submit" class="btn btn-secondary btn-block">Изменить</button></a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}



                    {% if  perms.tracker.delete_project %}
                        {% if request.user.username == 'root' %}
                            <div class="col-2 text-center">
                                <a href="{% url 'project_delete' project.pk %}"><button type="submit" class="btn btn-secondary btn-block">Удалить</button></a>
                            </div>
                        {% else %}
                            {% for user in project.users.all  %}
                                {% if user.username == request.user.username  %}
                                    <div class="col-2 text-center">
                                        <a href="{% url 'project_delete' project.pk %}"><button type="submit" class="btn btn-secondary btn-block">Удалить</button></a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}




                    {% if perms.tracker.add_task %}
                        {% if request.user.username == 'root' %}
                            <div class="col-3 text-center">
                                <a href="{% url 'task_add'  project.pk %}"><button type="submit" class="btn btn-secondary btn-block">Новая задача</button></a>
                            </div>
                        {% else %}
                            {% for user in project.users.all  %}
                                {% if user.username == request.user.username  %}
                                    <div class="col-3 text-center">
                                        <a href="{% url 'task_add'  project.pk %}"><button type="submit" class="btn btn-secondary btn-block">Новая задача</button></a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}



                    {% if request.user.username == 'root' %}
                        <div class="col-1 text-center">
                            <a href="{% url 'user_add'  project.pk %}"><button type="submit" class="btn btn-outline-secondary btn-block"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
</svg></button></a>
                        </div>
                    {% else %}
                        {% for group in request.user.groups.all  %}
                            {% if group.name != 'Developer' %}
                                {% for user in project.users.all  %}
                                    {% if user.username == request.user.username  %}
                                        <div class="col-1 text-center">
                                            <a href="{% url 'user_add'  project.pk %}"><button type="submit" class="btn btn-outline-secondary btn-block"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
</svg></button></a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}


                    {% if request.user.username == 'root' %}
                        <div class="col-1 text-center">
                            <a href="{% url 'user_delete'  project.pk %}"><button type="submit" class="btn btn-outline-secondary btn-block"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg></button></a>
                        </div>
                    {% else %}
                        {% for group in request.user.groups.all  %}
                            {% if group.name != 'Developer' %}
                                {% for user in project.users.all  %}
                                    {% if user.username == request.user.username  %}
                                        <div class="col-1 text-center">
                                            <a href="{% url 'user_delete'  project.pk %}"><button type="submit" class="btn btn-outline-secondary btn-block"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg></button></a>
                                        </div>
                                   {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
                </div>
            </div>
            </div>



            {% if tasks %}
            <br>
            <br>
            <br>
            <div class="head_text heading text-center">
                <p class="about-game">список задач проекта</p>
            </div>

            <div>
                 <div class="row justify-content-center text-center">
                <div class="col-5 info-block text-center">
                    <div>
                        <span class="descript">Задача</span>
                    </div>
                </div>
                <div class="col-3 info-block text-center">
                    <div>
                        <span class="descript">Тип</span>
                    </div>
                </div>
                <div class="col-2 info-block">
                    <div>
                        <span class="descript">Статус</span>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row justify-content-center">
                {% for task in tasks %}

                    <div class="col-5 info-block-link text-center">

                            <a class="link" href="{% url 'task_detail' task.pk %}"><span class="info-item">{{ task.text }}</span></a>

                    </div>

                    <div class="col-3 info-block text-center">
                        <div>
                            {% for type in task.types.all %}
                                <span class="info-item">{{ type.type_name }}{% if not forloop.last %}, {% endif %}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-2 info-block text-center">
                        <div>
                            <span class="info-item">{{ task.status}}</span>
                        </div>
                    </div>
                    {% empty %}
                    <div class="head_text heading text-center">
                        <p class="about-game">пока не создано ни одной задачи</p>
                    </div>
                {% endfor %}

            </div>
            <br>
            <br>
        </div>
    </div>
{% endblock %}
