{% extends 'base.html' %}
{% block title %}
    Task: {{ task.text }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="box">

            <div class="head_text heading text-center">
                <p class="main-title-home">TASK</p>
                <p class="about-game">информация о задаче</p>
            </div>

            <div class="row justify-content-center text-center">
                <div class="col-3 info-block text-center">
                    <span class="descript">Задача:</span>
                </div>
                <div class="col-7 info-block text-center">
                    <span class="info-head">{{ task.text }}</span>
                </div>
            </div>

            <div class="row justify-content-center text-center">
                <div class="col-3 info-block text-center">
                    <span class="descript">Статус: </span>
                </div>
                <div class="col-7 info-block text-center">
                    <div>
                        <span class="info-head">{{ task.status }}</span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-center">
                <div class="col-3 info-block text-center">
                    <span class="descript">Тип: </span>
                </div>
                <div class="col-7 info-block text-center">
                    {% for type in task.types.all %}
                        <span class="info-item">{{ type.type_name }}{% if not forloop.last %}, {% endif %}</span>
                    {% endfor %}
                </div>
            </div>


            <div class="row justify-content-center text-center">
                <div class="col-3 info-block text-center">
                    <span class="descript">Описание: </span>
                </div>
                <div class="col-7 info-block text-center">

                    <span class="text-break">{{ task.description | linebreaks }}</span>
                </div>
            </div>

            <div class="row justify-content-center text-center">

                <div class="col-4 text-center">
                    <a href="{% url 'index' %}"><button type="submit" class="btn btn-outline-secondary"><i class="fa fa-home"></i></button></a>
                </div>

                {% if user.is_authenticated %}
                    {% if  perms.tracker.delete_task %}
                        {% for user in task.project.users.all  %}
                            {% if user.username == request.user.username  %}

                                <div class="col-3 text-center">
                                    <a href="{% url 'task_delete' task.pk %}"><button type="submit" class="btn btn-secondary btn-block">Удалить</button></a>
                                </div>

                            {% endif %}
                        {% endfor %}
                    {% endif %}


                    {% if perms.tracker.change_task %}
                        {% for user in task.project.users.all  %}
                            {% if user.username == request.user.username  %}

                                <div class="col-4 text-center">
                                    <a href="{% url 'task_update' task.pk %}"><button type="submit" class="btn btn-secondary btn-block">Редактировать</button></a>
                                </div>

                            {% endif %}
                        {% endfor %}
                    {% endif %}

                {% endif %}

            </div>

        </div>
    </div>
{% endblock %}
